.text-input {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 5%;
  }
  &__label {
    &--error { color: #ff0000; }
  }
  &__input {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #d3d3d3;
  }
}
